<div class="contenedor-er">
  <!--Contenedor de seleccion de cuentas-->
  <div class="cuentas-er">
    <h3>CUENTAS</h3>
    <div style="background-color: #3F0071;"> <!--Parte morada del diseño-->
      <div class="buscador"><form method="get" id="buscarform">
    <fieldset>
        <input type="text" id="s" value="" placeholder="Buscar"  />
        <input class="button" type="submit" value="" />
        <i class="bi bi-search"></i>
    </fieldset>
    </form></div>
    </div>
    <!--Lista de cuentas-->
    <div *ngFor="let acc of accounts" class="lista-cuentas">
  <div class="cuenta-item" *ngIf="acc.requiereInput">
    <span>{{ acc.nombre }}</span>
    <input
      type="number"
      [(ngModel)]="acc.valor"
      placeholder="Monto"
    />
  </div>
</div>
<button class="glow-on-hover" (click)="updateCalculatedAccounts()">Calcular</button>
  </div>

  <!-- Contenedor a la derecha con input de información de empresa y la actualización en tiempo real -->
<div class="right-container">
  <div class="empresa-info">
    <h3>INFORMACIÓN DE EMPRESA</h3>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Nombre de la Empresa:</span>
      <input type="text" class="form-control-in" aria-describedby="basic-addon1" [(ngModel)]="nombre" placeholder="Ej. Comercial XYZ S.A. de C.V.">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon7">Título del Documento:</span>
      <input type="text" class="form-control-in" aria-describedby="basic-addon7" placeholder="Estado de Resultado" [(ngModel)]="titulo">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon7">Periodo Contable:</span>
      <input type="text" class="form-control-in" aria-describedby="basic-addon7" [(ngModel)]="periodo" placeholder="Ej. del 1 de enero al 31 de 20XX">
    </div>
    <div class="real-time">
      <div style="font-family: Jockey One; font-size:smaller;">
        <h2>{{titulo}}</h2>
        <h2>{{nombre}}, {{periodo}}</h2>

      </div>
  <div class="accounts-list">
  <div *ngFor="let acc of accounts" class="account-row" [ngStyle]="{'background-color': !acc.requiereInput ? '#D3D3D3' : 'white'}">
    <div class="account-name">{{ acc.nombre }}</div>
    <div class="account-value">{{ acc.valor }}</div>
  </div>
</div>

    </div>

  </div>
  <button class="glow-on-hover"> Crear Estado de Resultado </button>
</div>
