.contenedor-er{
  display: flex;
  color: black;
  justify-content: center;
  align-items: flex-start; /* optional: avoids vertical stretching */
  gap: 1em;
  flex-wrap: nowrap; /* ensure they stay on the same row */
}
.cuentas-er{
  background-color: #D9D9D9;
  height: 25em;
  width: 20em;
  padding: 1em;
  text-align: center;;
}
.right-container{
  display: grid;
  gap: 2em;
  height: 5em;
  width: 48em;
  text-align: center;
}

.empresa-info{
  background-color: #D9D9D9;
  gap: 4em;
  padding: 1em;

}
.input-group{

  margin-top: 1em;
}

.form-control-in{
  width: 30em;
}

.real-time{
  background-color: #D9D9D9;
  height: 10em;
  width: 48em;
  padding: 1em;
}
