.contenedor-er{
  display: flex;
  color: black;
  justify-content: center;
  align-items: flex-start; /* optional: avoids vertical stretching */
  gap: 1em;
  flex-wrap: nowrap; /* ensure they stay on the same row */
}
.cuentas-er{
  background-color: #D9D9D9;
  height: auto;
  width: auto;
  padding: 1em;
  text-align: center;;
}
.right-container{
  display: grid;
  gap: 2em;
  height: 5em;
  width: 48em;
  text-align: center;
}

.empresa-info{
  background-color: #D9D9D9;
  gap: 4em;
  padding: 1em;

}
.input-group{

  margin-top: 1em;
}

.form-control-in{
  width: 30em;
}

.real-time{
  background-color: #D9D9D9;
  height: 10em;
  width: 48em;
  padding: 1em;
}


/*ESTILOS PARA CUENTAS*/
.cuenta-item {
  background: #2e005c;
  color: white;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.cuenta-item:hover {
  background: #4a00a0;
}

.cuenta-item.selected {
  background: #00b4ff;
  color: #fff;
}

.real-time {
  background-color: #1a083b;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-family: 'Jockey One', sans-serif;
}

.account-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
