<div class="home-container">
  <div class="robot-container">
    <img src="robot.png" alt="Robot">
    <!--Appears only when showJoke is true-->
  </div>

  <div class="text-container">
    <div>
      <h1>De acuerdo, empecemos!</h1>
      <h1>¿Qué cuenta te interesa realizar?</h1>
    </div>
    <div>
      <button routerLink="/bg" class="btn">Balance General</button>
      <button routerLink="/ER" class="btn" >Estado de Resultados</button>
       <button routerLink="" class="glow-on-hover" >Volver</button>
    </div>
  </div>
</div>
