 

/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #150050, #FB2576);
  font-family: Jockey One, sans-serif;
  color: white;
  padding: 1em;
}
